
.m0 {
	margin: 0 !important;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb35 {
	margin-bottom: 35px;
}

.mb40 {
	margin-bottom: 40px;
}

.mt0 {
	margin-top: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt40 {
	margin-top: 40px;
}

.mr0 {
	margin-right: 0px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}

.p0 {
	padding: 0px !important;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #EBEBEB;
}

.bg-green {
	background-color: #28AE7E !important;
}

.bg-purple {
	background-color: #29254A !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.tc-purple {
	color: #29254A !important;	
}

.tc-white {
	color: #FFFFFF !important;
}

.tc-gray {
	color: #7d7d7d !important;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.fw-bold {
	font-weight: bold;
}

.fz10 {
	font-size: 10px !important;
}

.fz15 {
	font-size: 15px !important;
}

.fz20 {
	font-size: 20px !important;
}

.fz25 {
	font-size: 25px !important;
}

.flipH {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
}

.bg-container-gray {
	background-color: #EBEBEB;
}

.br5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.br10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.br15 {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.list-style-type-none {
	list-style-type: none;
}
