
/* Colour reference

sixtynite-bg: #443D74
normal text: #FFFFFF
links: #38FF0E
headings: #77F6FF
main content bg: #DCAFFF

*/

@font-face {
  font-family: Baron;
  src: url("../font/Baron_Neue_Bold.otf") format("opentype");
}

body {
	font-family: Quicksand;
	font-size: 16pt;
}

::-webkit-input-placeholder {
	font-size: 20px;
}

::-moz-placeholder {
	font-size: 20px;
}

:-ms-input-placeholder {
	font-size: 20px;
}

:-moz-placeholder {
	font-size: 20px;
}

:placeholder-shown {
	font-size: 20px;
}

/* Menu Style */

.navbar-sixtynite {
	min-height: 60px;
	background-color: #443D74;
	font-family: Quicksand;
	font-size: 12pt;
}

.navbar-sixtynite a {
	color: #FFFFFF;
}

.navbar-sixtynite .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

.navbar-sixtynite .in {
	background-color: #36305C;
}

.navbar-sixtynite .nav>li>a:hover {
	background-color: #36305C;
}

.sixtynite-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.sixtynite-container .title {
	font-size: 20pt;
}

/* Cover Image */
.sn-cover {
	background-image: url('http://dev.sixtynite.mx/img/Portada_SixtyNite.png');
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    align-items: center;
    display: flex;
    color: #FFFFFF;
    font-family: Baron;
}

.sn-app-button {
	height: 60px;
	width: 200px;
	position: relative;
	overflow: hidden;
	border: solid 2px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.sn-app-button a {
	color: currentColor;
	text-decoration: none;
}

.sn-app-button a i {
	position: absolute;
	top: 10px;
	left: 25px;
	font-size: 30pt;
}

.sn-app-button p {
	font: 20px/1 Helvetica, Arial, sans-serif;
	text-align: left !important;
	margin: 8px 0 0 65px;
	width: 150px;
}

.sn-app-button p small {
	font-size: 8pt;
}

/**/
.snc .active {
	color: #443D74;
}

.snc ~ .active > .snc-container {
	display: block;
}

.snc ~ .active > .snc-container-thin {
	display: none;
}

.snc ~ .active > .snc-icon {
	color: #FFFFFF;
}

.snc {
	color: #443D74;
}

.snc > .snc-container {
	display: none;
}

.snc > .snc-container-thin {
	display: block;
}

.snc > .snc-icon {
	color: #443D74;
}

/**/
.sn-iphone-case {
	background-image: url('http://dev.sixtynite.mx/img/Descubre/iphone2.png');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 620px;
	width: auto;
}

.sn-iphone-case > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 85px;
}

.sn-box {
	padding-top: 20px;
}

.sn-box .sn-box-title {
	background-color: #443D74;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	color: #FFFFFF;
	margin-left: -15px;
	position: relative;
	padding-left: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 230px;
}

.sn-box .sn-box-title:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #443D74;
    border-bottom: 10px solid transparent;
    margin: 25px 0 0 -70px;
}

.sn-box .sn-box-title > i {
	position: absolute;
    left: 0;
    top: 3px;
    bottom: 0;
    width: 60px;
    line-height: 34px;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.sn-box .sn-box-title-green {
	background-color: #28AE7E;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	color: #FFFFFF;
	margin-left: -15px;
	position: relative;
	padding-left: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 230px;
}

.sn-box .sn-box-title-green:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #28AE7E;
    border-bottom: 10px solid transparent;
    margin: 25px 0 0 -70px;
}

.sn-box .sn-box-title-green > i {
	position: absolute;
    left: 0;
    top: 3px;
    bottom: 0;
    width: 60px;
    line-height: 34px;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.sn-box .sn-box-body {
	padding: 15px;
	font-size: 12pt;
}

/**/


/**/
.sn-testimonial {
	font-size: 12pt;
    font-stretch: ultra-expanded;
    color: #ffffff;
	padding: 10px 10px 10px 25px;
    border-radius: 5px;
    background-color: #6a62a1;
    margin-top: 20px;
    overflow: auto;
}

.snt-left:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #6a62a1;
    border-bottom: 20px solid transparent;
    margin: 0 0 0 -45px;
}

.snt-right:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid #6a62a1;
    border-bottom: 20px solid transparent;
    margin: 0 0 0 83%;
}

.sn-form input, .sn-form textarea {
	padding: 10px;
	border: 1px solid;
	background: transparent;
	margin-top: 20px;
}

.sn-form input {
	height: 50px;
}

.sn-form textarea {
	height: 100px;
	resize: none;
}

.sn-form button {
	height: 55px;
	padding: 5px;
	border: solid 2px;
	background: transparent;
	width: 180px;
	font-size: 30px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

.kea-icon {
	background: url('http://dev.sixtynite.mx/img/Contactanos/logo_kea_contactos.png');
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

/*footer style */
.sixtynite-footer {
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
	min-height: 100px;
	background-color: #443D74;
	color: #FFFFFF;
	font-size: 11pt;
	/*position: absolute;
	bottom: 0;*/
	width: 100%;
}

.sixtynite-footer > small {
	margin-bottom: 100px;
}

.sixtynite-footer a {
	color: #FFFFFF;
	text-decoration: underline;
}

.sixtynite-footer a .fa-container {
	color: #FFFFFF;
}

.sixtynite-footer a .fa-icon {
	color: #443D74;
}

.sixtynite-footer a:hover .fa-container {
	color: #8E8AAB;
}

.sixtynite-footer a:hover .fa-icon {
	color: #FFFFFF;
}
