
.easyPieChart {
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}

.easyPieChart i { font-size: 42px; }

.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}